* {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    margin: 0;
}

/* Navbar */

nav {
    height:70px;
    display:flex;
    padding: 10px 20px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    max-width:100px;
}

/* Hero section */

.hero {
    padding: 20px 20px 20px 100px;
}

.hero--text {
    font-size:25px;
    margin-top:0px;
}

/* Card section */
.card--list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}
.card {
    margin:20px 20px 20px 50px;
    width:250px;
    flex: 0 0 auto;
    display:flex;
    flex-direction: column;
    position:relative;

}
.card--photo {
    width:250px;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--review {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card--review_star {
    max-height:20px;
    max-width:20px;
    padding-right:5px;
}

.card--review_text span {
    color: gray;
}

.card--description {
    margin:0px;
}

.card--price {
    margin-top: auto;
}

.card--price span{
   font-weight:bold;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
