* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

nav {
    height:70px;
    display:flex;
    padding: 10px 20px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    max-width:100px;
}

section {
    padding: 20px 20px 20px 100px;
}

.hero--text {
    font-size:25px;
}