* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;

}
/* Navigation Bar */

nav {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.nav--icon_text {
    color: #61DAFB;
    margin-left: 10px;
    margin-right:400px;
}

.nav--title {
    color: #DEEBF8;
    margin-top: 25px;
    margin-left: 400px;
}

/* Main section */

.main {
    background-color: #282D35;
    color: #DEEBF8;
    height:100%;
    padding-left:110px;
    background-image: url(images/react-background.svg);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: 800px;
}

.main--headline {
    margin:0;
    padding-top:50px;
    font-size:45px;
}

.main--list {
    margin-top:46px;
}

.main--list_element {
    list-style: none;
    font-size:25px;
    padding-block: 15px;
}

.main--list_element::before {
    content: "\2022";
    color:#61DAFB;
    font-weight:bold;
    font-size: 25px;
    margin-right:10px;
}

