* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;

}
/* Navigation Bar */

nav {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.nav--icon_text {
    color: #61DAFB;
    margin-left: 10px;
    margin-right:400px;
}

.nav--title {
    color: #DEEBF8;
    margin-top: 25px;
    margin-left: 400px;
}
